<div>
  <div class="education-header"> 
    <img class="tab-content-image" src="assets/img/algonquin.jpg">
    <div class="tab-content-text">
      In 2010 with no previous experience in programming, I started my education at Algonquin College with the Game Development Program.
      <br>
      <br>
      Over three years I received a Ontario College Advanced Diploma for demonstrating skills relating to game programming, art and design principles.
      <br>
      <br>
      I learned how to generate 2D graphics with Adobe Photoshop and Illustrator for various purposes such as game menus, HUDs or general graphics. 
      I learned 3D modelling through the Autodesk 3ds Max platform to create characters, environments and other various game models.
      I was also introduced to game design theory and principles through history and philopshopical classes tailored to these aspects.
      <br>
      <br>
      While this program taught me all aspects - I throughly enjoyed, excelled and chose to specialize in programming of all kinds.
      <br>
      <br>
      I learned many programming languages such as C++, C#, Objective-C, Flash/Actionscript, Rudimentary C, HTML/CSS and Java. 
      I was also introduced to various programming engines and frameworks such as Unity, Unreal and Microsoft XNA.
      I used tools such as Visual Studio, Xcode, Adobe Dreamweaver and Visual Studio Code.
      I also was given the opportunity to learn graphics programming through the HLSL and GLSL languages as well as using the OpenGL framework. 
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          First Year 2010-2011
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Second Year 2011-2012
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Third Year 2012-2013
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>     
</div>