<div>
  <div class="about-tab"> 
    <img class="about-tab-image cover" src="assets/img/algonquin.jpg">
    <div class="about-tab-text">
      In 2010 with no previous experience in programming, I started my education at Algonquin College with the Game Development Program. <a href="https://www.algonquincollege.com/mediaanddesign/program/game-development/">Course Info.</a>
      <br>
      <br>
      Over three years I received a Ontario College Advanced Diploma for demonstrating skills relating to game programming, art and design principles.
      <br>
      <br>
      I learned how to generate 2D graphics with Adobe Photoshop and Illustrator for various purposes such as game menus, HUDs or general graphics. 
      I learned 3D modelling through the Autodesk 3ds Max platform to create characters, environments and other various game models.
      I was also introduced to game design theory and principles through history and philopshopical classes tailored to these aspects.
      <br>
      <br>
      While this program taught me all aspects - I throughly enjoyed, excelled and chose to specialize in programming of all kinds.
      <br>
      <br>
      I learned many programming languages such as C++, C#, Objective-C, Flash/Actionscript, Rudimentary C, HTML/CSS and Java. 
      I was also introduced to various programming engines and frameworks such as Unity, Unreal and Microsoft XNA.
      I used tools such as Visual Studio, Xcode, Adobe Dreamweaver and Visual Studio Code.
      I also was given the opportunity to learn graphics programming through the HLSL and GLSL languages as well as using the OpenGL framework. 
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          First Semester 2010
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B">
            C++
          </a>
        </li>
        <li>
          <a href="https://visualstudio.microsoft.com/">
            Visual Studio
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Computer_programming">
            Basic Programming
          </a>
        </li>
        <li>
          <a href="https://www.adobe.com/ca/products/photoshop.html">
            Photoshop
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-1-semester-1.png">
        <div class="about-tab-text">
          First semester was an introduction for me into the world of programming. I began by learning basic C++ with Visual Studio.
          <br>
          <br>
          I was introduced to core pogramming principles like loops, if statements and basic programming logic. 
          I was tasked with creating basic games in a windows console like a dice rolling game and a guessing game.
          I was also given classes in communications (english in a business or workplace setting), mathematics and game design theory.
          I learned to use photoshop to create 2D graphics and manipulate photos as part of semester 1 as well.
          <br>
          <br>
          While the course is well rounded in game design, by the end of the first semester I began to enjoy and excel in the programming side of the program.
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Second Semester 2011
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B">
            C++
          </a>
        </li>
        <li>
          <a href="https://visualstudio.microsoft.com/">
            Visual Studio
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Object-oriented_programming">
            Object Oriented Programming
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Windows_Forms">
            Windows Forms
          </a>
        </li>
        <li>
          <a href="https://www.adobe.com/ca/products/photoshop.html">
            Photoshop
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <div class="about-tab-text">
          Second semester continued to build on the basics of programming. 
          I continued to learn C++ with Visual Studio but I was introduced to object oriented programming.
          I used the console again to create some basic games such as battle ship to use classes and objects in C++.
          This game simply displayed a game board with tiles in a console window and allowed users to select tiles.
          This continued to build a good foundation for my programming skills going forward.
          <br>
          <br>
          I also began to use windows forms. I was able to create a window and display a basic game with input.
          I created a side scroller where objects moved across the screen and the user had to click them while they went by. 
          I learned how to create and utilize classes and objects to achieve this.
          I also began to use the debugger during this semester to find and locate bugs and observe my program.
          While still very basic the windows forms platform gave us a very brief introduction to rendering graphics and how to include various frameworks.
        </div>
        <img class="about-tab-image about-tab-image-left" src="assets/img/year-1-semester-2.png">
      </div>
      <div class="about-tab">
        <img class="about-tab-image about-tab-image-left" src="assets/img/year-1-semester-2-2.png">
        <div class="about-tab-text">
          Second semester was instrumental in building my programming skills and knowledge. 
          This semester really ramped up from semester 1 and had us creating quite a few games for each assignment. 
          In addition to battleship and a windows forms side scroller one of my final projects was creating a brick breaker
          game in windows forms again and incorporating most of our knowledge from year 1.
          <br>
          <br>
          I had another english class that focused on script writing for video games. 
          I used a script writing program to develop a video game script. I learned basics of communicating within the context of a script as well as theory and
          principles behind developing a script. 
          <br>
          <br>
          I expanded my knowledge of photoshop and design and theory principles to create user interfaces.
          I was also introduced to drawing by hand with a class in how to create art by hand.
          <br>
          <br>
          Finally I had a psychology and group dynamics class that taught me how to work in groups and how to approach issues with group work, classmates 
          or even potential co-workers. This was critical to some of the upcoming group projects in the following years.
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Third Semester 2011
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html#//apple_ref/doc/uid/TP40011210">
            Objective-C
          </a>
        </li>
        <li>
          <a href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/">
            C#
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B">
            C++
          </a>
        </li>
        <li>
          <a href="https://visualstudio.microsoft.com/">
            Visual Studio
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/xcode/">
            Xcode
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Microsoft_XNA">
            XNA
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Version_control">
            Source Control
          </a>
        </li>
        <li>
          <a href="https://www.autodesk.ca/en/products/3ds-max/overview">
            Autodesk 3ds Max
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <div class="about-tab-text">
          Year 2 was very exciting for me. The focus for this year semester 1 was iPhone development as well as using the XNA platform to build an Xbox game.
          <br>
          <br>
          During this semester I had two primary focuses for furthering my knowledge of programming. The first was iPhone development.
          I thoroughly enjoyed this class where we used Objective-C and Xcode to create an iPhone game. 
          I created a game called iNfluence where users had to jump over obstacles and destroy signs. 
          This was my first introduction to using pointers as well as the Objective-C language. I also had to learn Xcode and interact with the Cocoa framework to
          create a game. This class was a huge step for me by teaching me a lot of new principles and technologies.
          <br>
          <br>
          This class also helped me advance my skills in debugging. Learning to debug through Xcode with breakpoints and variable instpection
          was a different experience than I had up to that point. I was given a good introduction to tracking down bugs and problem solving issues
          logically through inclass assignments and tests specifically related to debugging.
        </div>
        <img class="about-tab-image about-tab-image-left" src="assets/img/year-2-semester-1.jpg">
      </div>
      <div class="about-tab">
        <img class="about-tab-image about-tab-image-left" src="assets/img/year-2-semester-1-2.png">
        <div class="about-tab-text">
          The other focus during this semester was the XNA platform used by indie developers on the Xbox arcade. 
          XNA used C# within Visual Studio and I created a simple 2D game similar to asteroids. A main character could be moved around the screen 
          with input from the keyboard to avoid objects and enemies. With mouse input the user was able shoot and destory enemies.
          I was able to deploy this on a local Xbox and use a controller to play the game. 
          The game used a component entity framework where I created entities and attached components with behaviour and logic using C# and XNA frameworks.
          I began to learn about design principles as well as interacting with a framework to create your own applications.
          <br>
          <br>
          On the art side this semester was my first introduction to using Autodesk 3ds Max to create 3D objects and environments. 
          I also had another class dedicated to drawing by hand, while I struggled with drawing by hand thankfully the main lessons were about theory
          and principles in regards to creating characters and landscapes rather than the quality of the hand drawn creations. 
          I also was introduced to Unreal Engine with a level design class. 
          This class was basic as our course load was quite high this semester, but this was a good introduction
          to the Unreal Engine software and taught us principles of level design.
          <br>
          <br>
          This semester was also the first time I was introduced to Source Control and code repositories. 
          I began to use SVN Source Control to maintain a repository for all my code within my projects and assignments going forward.
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fourth Semester 2012
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/">
            C#
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B">
            C++
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B">
            OpenGL
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/ActionScript">
            Actionscript
          </a>
        </li>
        <li>
          <a href="https://visualstudio.microsoft.com/">
            Visual Studio
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Microsoft_XNA">
            XNA
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Adobe_Animate">
            Adobe Flash
          </a>
        </li>
        <li>
          <a href="https://www.autodesk.ca/en/products/3ds-max/overview">
            Autodesk 3ds Max
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Shader">
            Shaders
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image about-tab-image-left" src="assets/img/year-2-semester-2.png">
        <div class="about-tab-text">
          Second semester I started my first group project. This year primarily focused on the fundamentals of 3D games and programming.
          Groups were composed of students who specialized in different things. I was the principle gameplay programmer.
          <br>
          <br>
          With my group I used XNA and C# again to create a 3D game that ran locally on an Xbox system. The game was a 2 player game where users 
          took turns firing arrows at each other on a procedurally generated terrain. 
          I was responsible for displaying and updating the HUD as well as character actions.
          I programmed the logic behind firing the arrow and updating the camera during a shot in progress.
          I learned and programmed the elements relating to rotation of the objects and movement of camera.
          I also programmed most of the game logic pertaining to game start and end and logic for player turns.
          <br>
          <br>
          This semester also had a focus on rendering and computer graphics. I learned to use OpenGL with vertex and fragment shaders to render objects 
          on screen. While initially I struggled in this area, eventually this really helped my programming skills as I learned to tackle
          principles and concepts that were new to me and that I didn't intially understand. I also very much am thankful that I got the experience 
          with more in depth rendering and using OpenGL, rather than using an engine where a lot of the logic is done behind the scenes. It really 
          helped me build a foundational understanding of how those engines and computer rendering work.
        </div>
      </div>
      <div class="about-tab">
        <div class="about-tab-text">
          I was also exposed to some more indepth 2D programming with different platforms during this semester as well.
          I used Adobe Flash and Actionscript to build a 2D platformer game. While this wasn't as complex as some of the other 
          classes it gave me a chance to refine my programming skills and learn to adapt to different technologies. This game 
          gave me the chance to experiment with 2D physics and animations as well.
          <br>
          <br>
          I continued to use Autodesk 3ds Max to make 3D environments and objects which I was tasked with rendering within our games.
          While I focused on programming this knowledge was still very benefitial. Understanding the relationship between 3D models and 
          the programming concepts behind rendering them has been invaluable to me. While making these models I was able to analyze what a 
          3D model looks like from a data perspective and how the programming languages and APIs take that data to render the model as it was designed.
          <br>
          <br>
          This semester for me really took me from learning basic programming principles to being able to funtionally use different languages in different ways.
          I began to learn not just how to program but how teach myself how to use programming languages I hadn't been taught by someone else. I learned how to
          read documentation and process code from other developers in order to understand a new language better.
        </div>
        <img class="about-tab-image about-tab-image-left" src="assets/img/year-2-semester-2-2.png">
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fifth Semester 2012
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/">
            C#
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B">
            C++
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B">
            OpenGL
          </a>
        </li>
        <li>
          <a href="https://unity.com/">
            Unity Game Engine
          </a>
        </li>
        <li>
          <a href="https://visualstudio.microsoft.com/">
            Visual Studio
          </a>
        </li>
        <li>
          <a href="https://www.autodesk.ca/en/products/3ds-max/overview">
            Autodesk 3ds Max
          </a>
        </li>
        <li>
          <a href="https://git-scm.com/">
            Git
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Agile_software_development">
            Agile
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Scrum_(software_development)">
            Scrum
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Pointer_(computer_programming)">
            Pointers
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/A*_search_algorithm">
            A* Pathfinding
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Shader">
            Shaders
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-3-semester-1.png">
        <div class="about-tab-text">
          Third year I began the capstone project. This would see me form a team and spend the whole year and both semesters creating a game. 
          The idea behind this was to simulate a real life team to get an idea of how to organize and effectively manage the creation of a game.
          Teams consisted of 5-6 people, with artist, programmer and designer roles assigned. I was part of the programming team. 
          My role was lead general and gameplay programmer. For the first semester I was introudced to the Unity game engine and began
          building the base layer of my game.
          <br>
          <br>
          I used C# and the Unity game engine to learn how to make menus, implement a physic system and utilize the camera to create a first person shooter.
          Having been given a thorough understanding of how OpenGL, shaders and rendering worked gave me a much better understanding of how the Unity game engine
          was working underneath the hood. 
          During capstone I was also introduced to Git and used this to collaborate with my teammates. I was also put in a position where 
          I had to use a project management tool to create and breakdown tasks for various features. As a part of my team I learned the various elements of 
          scrum by having standup and planning meetings with my classmates to ensure this game was created.
          <br>
          <br>
          On the art side of things I again used 3ds Max to create characters and animations for them. I learned how to texture wrap models and bring them to life within
          a game engine. I again was tasked to use shaders to simulate things like headlights and police lights to bring our models to life. This included writing handwritten
          HLSL files and using them with our 3ds models. Even though I focused on programming, everyone was expected to contribute at least one art asset to the final game.
          I created a few buildings for our level as well as parts of our mech which would be the player character.
        </div>
      </div>
      <div class="about-tab">
        <div class="about-tab-text">
          During this semester I continued to use C++ to create games and further understand programming principles, algorithms and data structures. 
          This helped me utilize the Unity game engine better as I had a solid foundational understanding of the principles used at a higher level within C#.
          <br>
          <br>
          In C++ I learned about pathfinding and using an algorithm to determine where enemies would go and which path they needed to take. I ended up creating a 
          tower defense game where towers were placed to stop enemies from reaching the other side. While I learned pathfinding in this project, I also had to use
          OpenGL rendering and expanded my understanding of pointers. I had to learn the concept of function pointers for this game and passing variables by 
          reference and by address. Learning C++ in this way was very enjoyable for me and really helped build a solid foundation of programming principles.
          <br>
          <br>
          I had a specific lessons in project management during this semester as well. I was taught Agile and Scrum methodologies which very much helped me 
          settle into a job after school. I was given technical lessons about these concepts and given the opportunity to put them into practice by using them
          within the capstone project with my classmates. I was taught about the software development cycle and how various real world companies put this to use.
          It was incredibly helpful to have profressors that had worked for various game companies who were able to give me first hand demonstrations of how these
          principles were suppose to work.
        </div>
        <img class="about-tab-image" src="assets/img/year-3-semester-1-2.png">
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sixth Semester 2013
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/">
            C#
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B">
            C++
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B">
            OpenGL
          </a>
        </li>
        <li>
          <a href="https://unity.com/">
            Unity Game Engine
          </a>
        </li>
        <li>
          <a href="https://visualstudio.microsoft.com/">
            Visual Studio
          </a>
        </li>
        <li>
          <a href="https://www.autodesk.ca/en/products/3ds-max/overview">
            Autodesk 3ds Max
          </a>
        </li>
        <li>
          <a href="https://git-scm.com/">
            Git
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Agile_software_development">
            Agile
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Scrum_(software_development)">
            Scrum
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Pointer_(computer_programming)">
            Pointers
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/A*_search_algorithm">
            A* Pathfinding
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Shader">
            Shaders
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-3-semester-2.png">
        <div class="about-tab-text">
          Year 3 second semester continued to teach me about the Unity Game Engine and build on my C++ foundational programming skills. I continued to work with 
          my team on the capstone project to create a fully functioning game that I could deploy and demo at the end of year presentation. I continued to build our
          first person mech shooter game by adding 3D models, animations, shaders and gameplay logic. During this semester I was able to help our programming team
          implement networking. While I was not the principle networking programmer I was still responsible for understanding how to use our networking system to sync
          things like game and player states and positions. I also was introduced to networking in C++ which really helped build a well rounded understanding of this
          as well.
          <br>
          <br>
          Our first person mech shooter was built with Unity game engine and C#. I continued to add to the game through this semester to finally create a playable game
          at the end of year demo. I was able to deploy the game and have multiple random users enjoy and play our game at the end of year demo. I and my teammates were
          able to set up multiple computers that ran separate instances of our game and played in the same server. In order to do this I learned about the QA process and
          I conducted random user cases where I allowed users to try our game and give feedback. I logged bugs and prioritized which bugs to complete in order to complete
          this project on time.
          <br>
          <br>
          I expanded my knowledge of 3D game art by further understanding an implementing textures, anitmations and shaders within the 3ds Max program. I used different
          methods to create different visual effects through texturing. I learned about the art pipeline and how rigging and texturing models fits together.
          I was also given one last communications class which focused on communicating in the workplace. It taught use basic things like proper email etiquette and
          proper communcation techniques to communicate effectively with my co-workers.
        </div>
      </div>
      <div class="about-tab">
        <div class="about-tab-text">
          At the same time I was a part of the capstone process - I was also part of one last C++ project. This project started by teaching us networking and 
          threading in C++ and then had me use everything I had learned to create a game in C++.
          <br>
          <br>
          I began this final semester by learning about networking and sockets in C++ and building a game with multiple players with basic input. I then learned
          about multithreading in C++ to create things like timers and listeners for user input. These lessons were difficult at the time as our work load was
          getting large but I am very glad I eventualy understood and completed these lessons and they really help to understand systems that opperate at a higher
          level to the end user. Over 10 years later these lessons still form a good part of my programming understanding.
          <br>
          <br>
          For my final project I created a game called rumble ball. This game was similar to a popular game called Rocket League, where you drive a car around a 
          stadium and hit a ball around. This game used OpenGL to render all the objects, models and textures created. It implemented a basic physics system to move 
          players and ball around as well as detect collision between players and ball, and ball and net. This game had me manually create a camera system as well
          as a movement and rotation system. I used multithreading to create timers to track game length as well as a listener to detect user input to move the vehicles.
          I used function pointers in the game menu system to demonstrate and practice my knowledge in that area. I had to have a thorough understanding of how
          pointers worked to get this game to work properly as well. While this game wasn't as functionally 'finished' as our capstone project - I was very proud of This
          game as it was build competely from scratch without the use of a game engine or high functioning API that took care of core principles. The knowledge I gained
          with this project was invaluable. 
        </div>
        <img class="about-tab-image" src="assets/img/year-3-semester-2-2.png">
      </div>
    </mat-expansion-panel>
  </mat-accordion>         
</div>