<div>
  <div class="projects-content">
    <img class="projects-tab-content-image" src="assets/img/projects.png">
    <div class="projects-tab-content-text">
      During my career I have primarily focused on iOS development using Xcode with the programming languages Objective-C and Swift. 
      Most of these projects use either Interface Builder or SwiftUI as well as the Cocoa framework to implement iOS user interfaces.
      These projects touched all other aspects of the Cocoa framework like various parts of the Application Kit, guestures, animations and Core Data. 
      <br>
      <br>
      Within these projects I will explain which project management tool was used along with the various architectures and libraries used and of course which 
      Continous Integration system was used to deploy the app.
      <br>
      <br>
      You can also view my personal projects on my <a href="https://github.com/BruceRick">GitHub</a>.
      Take a look through all the projects I've worked on in my development career below.
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          First Year | 2010-2011
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Second Year | 2011-2012
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Third Year | 2012-2013
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>     
</div>