<div>
  <div class="about-tab">
    <img class="about-tab-image cover" src="assets/img/projects.jpg">
    <div class="about-tab-text">
      Currently I love and use the Swift langage with SwiftUI and Combine extensively. During my career I have primarily focused on iOS development 
      using Xcode with the programming languages Objective-C and Swift. Most of these projects use either Interface Builder or SwiftUI as well as the 
      Cocoa framework to implement iOS user interfaces. These projects touched all other aspects of the Cocoa framework like various parts of the 
      Application Kit, guestures, animations and Core Data. 
      <br>
      <br>
      Within these projects I will explain which project management tool was used along with the various architectures and libraries used and of course which 
      Continous Integration system was used to deploy the app.
      <br>
      <br>
      Over my 9 years as an iOS developer I used all kinds of project management tools that were essential in order to create these projects. I've used
      JIRA, Azure and Amazon Web Services extensively to track my progress in software teams and develop pipelines to release and maintain these projects.
      <br>
      <br>
      You can also view my personal projects on my <a href="https://github.com/BruceRick">GitHub</a>.
      Take a look through all the projects I've worked on in my development career below.
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Allegiant Airlines
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://www.allegiantair.com/">
            Allegiant Airlines
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html#//apple_ref/doc/uid/TP40011210">
            Objective-C
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/swift/">
            Swift
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Interface_Builder">
            Interface Builder
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/uikit">
            UIKit
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/xcode/">
            Xcode
          </a>
        </li>
        <li>
          <a href="https://www.atlassian.com/software/jira">
            JIRA
          </a>
        </li>
        <li>
          <a href="https://bitbucket.org/product">
            Stash
          </a>
        </li>
        <li>
          <a href="https://www.jetbrains.com/teamcity/">
            Teamcity
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/Xcode/About-Continuous-Integration-and-Delivery-with-Xcode-Cloud">
            Xcode Cloud
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/coredata">
            Core Data
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">
            Representational State Transfer
          </a>
        </li>
        <li>
          <a href="https://github.com/RestKit/RestKit">
            RestKit
          </a>
        </li>
        <li>
          <a href="https://graphql.org/">
            GraphQL
          </a>
        </li>
        <li>
          <a href="https://cocoapods.org/">
            CocoaPods
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/localization/">
            Localization
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/allegiant.png">
        <div class="about-tab-text">
          Allegiant Airlines. iOS Developer on this project. The consumer app for the airline. This app allowed customers to purchase flights and vacation packages, 
          view flight itineraries, download boarding passes and access their user account for the airline. Over the course of many years, this app underwent a few overhauls 
          and redesigns. Code base was originally written in Objective-C and used interface builder and UIKit and was gradually ported to Swift. Originally app used a RESTful 
          backend client but eventually, we implemented a GraphQL client. Cocoapods were used to manage dependencies on iOS. UIKit and Interface Builder were used to construct 
          native UI. Constraints were used extensively as Allegiant wanted to be able to support phones over many different generations.
          <br>
          <br>
          This project repo was hosted on Stash (now named Bitbucket) and managed through JIRA. Teamcity was used to automate the continuous delivery of the app 
          through build plans. Plans included one that ran automatically when a code review was opened and automatically ran tests to ensure features were not broken or 
          bugs introduced during a code merge. Plans that tested migration between different versions of the app. Plans that was manually triggered to run tests, manage
          provisioning profiles, take screenshots, create app file and submit them to the app store for testing and release. This project used JIRA to manage tasks and bugs 
          as well as manage and measure project progress. Time and estimates were tracked through JIRA and project health was visually shown through graphs and statistics in JIRA.
          <br>
          <br>
          Standard Apple localization system was used and eventually manual scripts were used to import and export translations to an excel file for translators. This app 
          initially used a RESTful backend and then converted to using GraphQL. RestKit was used on this project initially and eventually we moved towards a more manual 
          approach using the standard Apple networking libraries and Codable protocol to lower overhead and reduce code. When a redesign of the app was done a GraphQL backend was 
          created and I used the Apollo iOS library to interact with the backend. This app accepted and stored customer payments and various security and encryption was implemented. 
          Portions of this app utilized a mobile version of the Allegiant website and this required sending data between a web view and the native view controller. One of the biggest 
          overhauls of this app was the timeline functionality - the ability for users to sign into their accounts and get a screen that ordered their flights by times with UI card 
          elements. This required a lot of UI work to keep UI in reusable files and display in the proper format and also extensive backend changes to accommodate new data changes to 
          support these card items.
          <br>
          <br>
          I was a part of this app for many years and was part of all portions of the lifecycle of this app. Designing, estimating and implementing features, deployment and release 
          work, general maintenance cycle after a version was released and finally overhauling the app and upgrading to new technologies. During this project, I flew to Las Vegas 
          to work at the Allegiant Airlines headquarters and go over designs and expectations with the client for upcoming releases. I routinely communicated with the client when 
          technical details were required and also demoed features and took feedback on features that were in development. At times on this project, I was the only iOS developer and 
          had to constantly be very conscious of the importance of this project to Allegiant and also to my company financially.
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CrewPad
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://www.aireuropa.com/ot/en/home">
            AirEuropa
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html#//apple_ref/doc/uid/TP40011210">
            Objective-C
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/swift/">
            Swift
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Interface_Builder">
            Interface Builder
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/uikit">
            UIKit
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/xcode/">
            Xcode
          </a>
        </li>
        <li>
          <a href="https://www.atlassian.com/software/jira">
            JIRA
          </a>
        </li>
        <li>
          <a href="https://bitbucket.org/product">
            Stash
          </a>
        </li>
        <li>
          <a href="https://www.jetbrains.com/teamcity/">
            Teamcity
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/coredata">
            Core Data
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">
            Representational State Transfer
          </a>
        </li>
        <li>
          <a href="https://realm.io/">
            Realm
          </a>
        </li>
        <li>
          <a href="https://swagger.io/">
            Swagger
          </a>
        </li>
        <li>
          <a href="https://github.com/ReactiveCocoa/ReactiveCocoa">
            ReactiveCocoa
          </a>
        </li>
        <li>
          <a href="https://cocoapods.org/">
            CocoaPods
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/localization/">
            Localization
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/crewpad.jpg">
        <div class="about-tab-text">
          AirEuropa. iOS Developer on this project. The app used native Objective-C and Cocoa libraries with reactive programming concepts using the ReactiveCocoa library. 
          The app was an internal app intended for flight attendants to sell goods, send messages, fill out pre-flight documents and review passenger manifest with a visual 
          display of the seat map of plane.
          <br>
          <br>
          This app was my first introduction to Reactive programming and the concepts of signals and bindings to bind elements together instead of using listeners, delegates 
          or override event methods. App also used Swagger and OpenAPI to automate our database models. We used the swagger documents provided by the backend to automatically 
          create classes and network request objects based on that documents. This was a wonderful technology because it made sure that the backend and client components were 
          always in sync and took out tedious work of updating models manually for each change by the backend client.
          <br>
          <br>
          App used Realm to manage and migrate database models. This was my first introduction to Realm and helped me gain a good understanding of the pros and cons of Realm
          over the traditional CoreData database management. App also used TeamCity and Fastlane to automate software delivery. Fastlane was used to create scripts to take 
          screenshots for the app release page, test, make builds and submit for QA or release on the store, manage certificates and provisioning, update our localization and 
          update our tags and build versions on our project management software. We created build plans on TeamCity that ran these Fastlane scripts manually or automatically 
          when a code review was completed and merged.
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ELVIS Government of Canada CBSA
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://www.cbsa-asfc.gc.ca/menu-eng.html">
            CBSA
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/swift/">
            Swift
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/swiftui/">
            SwiftUI
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/xcode/">
            Xcode
          </a>
        </li>
        <li>
          <a href="https://github.com/pointfreeco/swift-composable-architecture">
            Swift Composable Architecture
          </a>
        </li>
        <li>
          <a href="https://azure.microsoft.com/en-ca/">
            Azure
          </a>
        </li>
        <li>
          <a href="https://aws.amazon.com/">
            Amazon Web Services
          </a>
        </li>
        <li>
          <a href="https://aws.amazon.com/amplify/">
            Amplify
          </a>
        </li>
        <li>
          <a href="https://www.swift.org/package-manager/">
            Swift Package Manager
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/ecommerce.png">
        <div class="about-tab-text">
          CBSA division of the Government of Canada. iOS Developer on this project. This app was built in Swift using SwiftUI and we used the Swift Composable 
          Architecture library. The app was an internal app for CBSA agents to track packages being shipped into the country. Agents could use the app to take 
          pictures and scan packages and update details and perform exams and electronically log all information.
          <br>
          <br>
          We used the Swift Composable Architecture to create a Model View - View Model architecture. This helped keep a wonderfully organized app that was 
          separated by feature with each feature then organized by UI logic and business logic. This architecture also was wonderful at helping us maintain 
          testability by making it easy to create test data and testing mechanisms to test all components of the app.
          <br>
          <br>
          The government was very proactive in using the best and latest technologies and that gave us the ability to develop this app entirely in SwiftUI. 
          This was my first professional experience with SwiftUI and Combine. I absolutely love both and will advocate using both technologies on any projects 
          I work on in the future. SwiftUI helped us create a reactive app that handled all cases in one place and adapt to changes or events in code in one 
          unified place. It also helped create a wonderfully responsive UI that users would expect of an iOS device. The Swift Package Manager was used in favour 
          of CocoaPods to manage all dependencies.
          <br>
          <br>
          This app used Microsoft Azure to track features, requests and project details. This app used Amazon Web Services to host the backend services as well 
          as pipelines to deploy the app. Authentication was handled through Amazon's Amplify library and this was included and used to authenticate usernames 
          and passwords.
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>   
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          REALTOR.ca - Listing Stats
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://apps.apple.com/ca/app/realtor-ca-listing-stats/id1478005795">
            REALTOR.ca
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html#//apple_ref/doc/uid/TP40011210">
            Objective-C
          </a>
        </li>
        <li>
          <a href="https://reactnative.dev/">
            React Native
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/HTML">
            HTML
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/CSS">
            CSS
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/xcode/">
            Xcode
          </a>
        </li>
        <li>
          <a href="https://azure.microsoft.com/en-us/services/devops/">
            Azure
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/realtor.png">
        <div class="about-tab-text">
          REALTOR.ca. iOS Developer on this project. An app that used the React Native framework to work seamlessly across iOS and Android platforms. Using React Native 
          and its concepts of reducers web style principles app downloaded and stored listings and user info to display to real estate agents.
          <br>
          <br>
          This project was managed through Microsoft Azure DevOps. Azure pipelines were used for continuous delivery of the app. Azure Boards were used to create, estimate, 
          and evaluate timelines for the entire project. The repository was hosted on Azure Repos as well. This was my first interaction with Azure and the added security 
          that came with it. Had to use an authenticator on a mobile device to log in and update SSH keys and tokens periodically.
          <br>
          <br>
          I was asked to help maintain some existing features and also create a new feature. I was specifically in charge of introducing the concept of multiple users and 
          being a part of separate real estate boards. Originally the app had one user login and downloaded and viewed listings specific to that user. I had to redesign 
          the workflow to accommodate the idea that multiple users could log in or be a part of two different real estate boards. This meant adding the ability to save 
          multiple users and real estate associations to the device and giving the user the ability to flip between accounts or real estate boards and update the list of 
          available listings.
          <br>
          <br>
          On this app, I got to learn about React Native and Azure. I got to experience the pros and cons of React Native vs using a native technology.
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Delphi Connect
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://en.wikipedia.org/wiki/Aptiv">
            Delphi
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html#//apple_ref/doc/uid/TP40011210">
            Objective-C
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Interface_Builder">
            Interface Builder
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/uikit">
            UIKit
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/HTML">
            HTML
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/CSS">
            CSS
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/xcode/">
            Xcode
          </a>
        </li>
        <li>
          <a href="https://www.atlassian.com/software/jira">
            JIRA
          </a>
        </li>
        <li>
          <a href="https://bitbucket.org/product">
            Stash
          </a>
        </li>
        <li>
          <a href="https://www.atlassian.com/software/bamboo">
            Bamboo
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/coredata">
            Core Data
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">
            Representational State Transfer
          </a>
        </li>
        <li>
          <a href="https://github.com/RestKit/RestKit">
            RestKit
          </a>
        </li>
        <li>
          <a href="https://cocoapods.org/">
            CocoaPods
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/localization/">
            Localization
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/delphi.jpg">
        <div class="about-tab-text">
          Delphi Automotive Systems (now Aptiv). iOS Developer on this project. App that downloaded data from a backend client as well as a physical device installed in your cars OBD port 
          to display data to a user on an iPhone device. User was also able to interact with their vehicle through an iPhone app with commands such as starting
          your vehicle and locking/unlocking doors. App was written primarily in Objective-C with Xcode with small amounts of HTML and CSS to share code and 
          render screens consistently between Android and iOS clients. Cocoapods were used to manage dependancies on iOS. UIKit and Interface Builder were used to
          construct native UI. Constraints were used extensively to construct layouts that adjusted to different iPhone models.
          <br>
          <br>
          This project repo was hosted on Stash (now named Bitbucket) and managed through JIRA. Bamboo was used to automate continuous delivery of the app
          through build plans. Plans included one that ran automatically when a code review was opened and automatically ran tests to ensure features were not 
          broken or bugs introduced during a code merge. Plan that was manually triggered to run tests, manage provisioning profiles, take screenshots,
          create app file and submit to the app store for testing and release. This project used JIRA to manage tasks and bugs as well as manage and measure 
          projects progress. Time and estimates were tracked through JIRA and project health was visually shown through graphs and statistics in JIRA. 
          <br>
          <br>
          I localized the app using the standard iOS localization system where text was referenced by tokens and then located in a correct translation file. 
          I used the RestKit library on this project. This was used to download data from a RESTful backend API and store in data objects and save to the device using
          Core Data. I added migrations through Core Data in order to manage data models that changed between releases and would allow the user to seamlessly upgrade
          the app without losing data. This app eventually implemented a theming engine that went through iterations in order to reskin this app for various 
          vendors. 
          <br>
          <br>
          Over the course of the project I worked on designing, estimating and implementing features and new screens. I worked on fixing bugs with
          general functionality, memory, build deployments, provisioning profiles, memory, Core Data, migrations and backend integration. I worked closely with
          the senior resources to review and learn from their code and continue to add to the quality of the code base for this app. 
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Inflight
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://www.allegiantair.com/">
            Allegiant Airlines
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html#//apple_ref/doc/uid/TP40011210">
            Objective-C
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/swift/">
            Swift
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Interface_Builder">
            Interface Builder
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/uikit">
            UIKit
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/xcode/">
            Xcode
          </a>
        </li>
        <li>
          <a href="https://www.atlassian.com/software/jira">
            JIRA
          </a>
        </li>
        <li>
          <a href="https://bitbucket.org/product">
            Stash
          </a>
        </li>
        <li>
          <a href="https://www.jetbrains.com/teamcity/">
            Teamcity
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/coredata">
            Core Data
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">
            Representational State Transfer
          </a>
        </li>
        <li>
          <a href="https://github.com/RestKit/RestKit">
            RestKit
          </a>
        </li>
        <li>
          <a href="https://cocoapods.org/">
            CocoaPods
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/localization/">
            Localization
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/inflight.png">
        <div class="about-tab-text">
          Allegiant Airlines. iOS Developer on this project. This app used Objective-C and Cocoa framework to build an internal app for Allegiant Airlines. 
          This app was used by flight attendants to sell and take payments for goods and services during a flight. Sales and payment info was then synced when
          flight landed and a internet connection was established.
          <br>
          <br>
          Project used JIRA to manage and track features, request and overall project health. Git repo was stored on Stash. Using Objective-C and standard Apple 
          frameworks app made network calls to a REST backend and saved info pertaining to flight and flight inventory to make in flight sales. App was able to
          take payments and store payments through an external piece of hardware used to swipe credit cards. Sales were saved and then processed using a sync method
          that was triggered when a connection was established after flight landed. We used the RestKit library to make network calls and save retrieved data to 
          data objects. 
          <br>
          <br>
          This app made extensive use of storyboards and interface builder to build reuseable UI components. Contraints were used extensively to manage the app through
          various iPad models and sizes. App used Teamcity to create pipelines and automate the continous delivery of this app. Teamcity pipelines were triggered 
          manually for releases and automatically for testing when code reviews were opened. 
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Flydesk
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="about-skills">
        <li>
          <a href="https://www.allegiantair.com/">
            Allegiant Airlines
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html#//apple_ref/doc/uid/TP40011210">
            Objective-C
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/swift/">
            Swift
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Interface_Builder">
            Interface Builder
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/uikit">
            UIKit
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/xcode/">
            Xcode
          </a>
        </li>
        <li>
          <a href="https://www.atlassian.com/software/jira">
            JIRA
          </a>
        </li>
        <li>
          <a href="https://bitbucket.org/product">
            Stash
          </a>
        </li>
        <li>
          <a href="https://www.jetbrains.com/teamcity/">
            Teamcity
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/documentation/coredata">
            Core Data
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">
            Representational State Transfer
          </a>
        </li>
        <li>
          <a href="https://github.com/RestKit/RestKit">
            RestKit
          </a>
        </li>
        <li>
          <a href="https://cocoapods.org/">
            CocoaPods
          </a>
        </li>
        <li>
          <a href="https://developer.apple.com/localization/">
            Localization
          </a>
        </li>
      </ul>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/flydesk.png">
        <div class="about-tab-text">
          Allegiant Airlines. iOS Developer on this project. This app used Objective-C and Cocoa framework to build an internal app for Allegiant Airlines. 
          This app was used by pilots to view PDF documents for training and preflight take off. The idea behind this app was that it would replace binders
          that contained thousands of pages and required a lot of overhead to update and maintain. 
          <br>
          <br>
          Project used JIRA to manage and track features, request and overall project health. Git repo was stored on Stash. Using Objective-C and standard Apple 
          frameworks app made network calls to a REST backend and saved info pertaining to pilots and documents pertaining to that pilot. App was able to
          store PDFs for offline viewing. We used the RestKit library to make network calls and save retrieved data to 
          data objects. 
          <br>
          <br>
          This app made extensive use of storyboards and interface builder to build reuseable UI components. Contraints were used extensively to manage the app through
          various iPad models and sizes. App used Teamcity to create pipelines and automate the continous delivery of this app. Teamcity pipelines were triggered 
          manually for releases and automatically for testing when code reviews were opened. 
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/PKDB.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://github.com/BruceRick/PKDB">
                PKDB
              </a>
            </li>
            <li>
              <a href="https://developer.apple.com/swift/">
                Swift
              </a>
            </li>
            <li>
              <a href="https://developer.apple.com/documentation/swiftui/">
                SwiftUI
              </a>
            </li>
            <li>
              <a href="https://developer.apple.com/documentation/combine">
                Combine
              </a>
            </li>
            <li>
              <a href="https://developer.apple.com/xcode/">
                Xcode
              </a>
            </li>
            <li>
              <a href="https://graphql.org/">
                GraphQL
              </a>
            </li>
          </ul>
          <br>
          I am getting old. I still love Pokemon! I can't always remember pokemon types or abilities. I made this app to help with that. 
          This app uses the open source PokeAPI to download up to date and continually updated data. I used Swift and SwiftUI to build a minimalistic UI
          that downloads this data and presents it. I used Combine to organize the network calls and code. Check out the source code on my GitHub or by clicking
          the 'PKDB' button above. 
          <br>
          <br>
          This app presents a list of Pokemon, by Pokedex number, by selected Pokemon Game. It uses GraphQL to grab this data and uses the Codable protocol and Combine
          to make this request and load into a Swift object representation of the data. This data is stored in UserDefaults. In the Pokedex view the user is able to see 
          Name, Sprite, Type and Stats. When selecting a Pokemon the User can see all details about the Pokemon including moves, abilities, stats and locations. 
          I also included a battle team feature where you can build your lineup for any game and add abilities and move sets. 
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/wordle.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://github.com/BruceRick/Wordle">
                Wordle
              </a>
            </li>
            <li>
              <a href="https://developer.apple.com/swift/">
                Swift
              </a>
            </li>
            <li>
              <a href="https://developer.apple.com/documentation/swiftui/">
                SwiftUI
              </a>
            </li>
            <li>
              <a href="https://developer.apple.com/documentation/combine">
                Combine
              </a>
            </li>
            <li>
              <a href="https://developer.apple.com/xcode/">
                Xcode
              </a>
            </li>
          </ul>
          <br>
          I love Wordle! I hate only being able to do it once a day. I created this project to play Wordle as many times as you'd like everyday with some
          basic scorekeeping. Check out the source code on my GitHub or select the 'Wordle' button above. 
          <br>
          <br>
          I created this project because I love Wordle and also was curious how well suited SwiftUI would be to create a sudo-game like Wordle. It worked very well
          and I was very happy with the results. I used SwiftUI and Combine to create and manage the gameboard and game states. I have a plain text document currently
          with a copy of an english dictionary and I filter by all 5 letter words and select one at random. Going forward I would like to implement 2 features to
          finish this project. I would like to be able to grab words from an API instead of having a local version of a dictionary. I would like the user to be able
          to select the word once a round is over and use an API to display its pronunciation and meaning. 
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/website.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://github.com/BruceRick/me">
                This Website!
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/HTML">
                HTML
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/CSS">
                CSS
              </a>
            </li>
            <li>
              <a href="https://code.visualstudio.com/">
                Visual Studio Code
              </a>
            </li>
            <li>
              <a href="https://angular.io/">
                Angular
              </a>
            </li>
            <li>
              <a href="https://pages.github.com/">
                GitHub Pages
              </a>
            </li>
          </ul>
          <br>
          I was in need of a simple portfolio/info website. I didn't want to use wordpress or some other web helper and wanted to try and create my own website
          from scratch. I settled on Angular as I had heard it made Web Development a little more organized and wanted to learn something new in the process.
          I created this Website with Angular and used Visual Studio Code. I used GitHub Pages to deploy this website at the URL you are currently at! 
          You can have a look at the source code on GitHub or by selecting the 'This Website!' button above.
        </div>
      </div>
      <br>
      <br>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Game Development
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-1-semester-1.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://en.wikipedia.org/wiki/C%2B%2B">
                C++
              </a>
            </li>
            <li>
              <a href="https://visualstudio.microsoft.com/">
                Visual Studio
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Thread_(computing)">
                Multi-Threading
              </a>
            </li>
          </ul>
          <br>
          Simplistic guess the word game written in C++ using the console window. My main goal for this was develop my understanding of 
          threads and multi-threading. In this game I have a thread the handles the time decreasing and displaying it while another processes input and 
          word selection. I also developed an understanding of how to destroy threads properly and the dangers of multi-threading.
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-1-semester-2.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://en.wikipedia.org/wiki/C%2B%2B">
                C++
              </a>
            </li>
            <li>
              <a href="https://visualstudio.microsoft.com/">
                Visual Studio
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Pointer_(computer_programming)">
                Pointers
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Function_pointer">
                Function Pointers
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Index_notation#Multi-dimensional_arrays">
                Multi-Dimensional Arrays
              </a>
            </li>
          </ul>
          <br>
          Simplistic battleship game written in C++ using the console window. My main objective in this project was to further develop my understanding of 
          pointers and multi-dimensional arrays. I tried to use as many ways to use pointers as possible in this game. This included passing by reference 
          and by address. I also was diligent in using pointers to point to multi-dimensional arrays and accessing individual locations within 
          the multi-dimensional array. Essentially, my game board consisted of a multi-dimensional array, and when a user fired it would check that 
          specific location when passed a pointer to the multi-dimensional array. I also put to use the function pointers, while they were mostly redundant 
          in this application I wanted some experience using them.
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-1-semester-2-2.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://en.wikipedia.org/wiki/C%2B%2B">
                C++
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/C%2B%2B">
                OpenGL
              </a>
            </li>
            <li>
              <a href="https://visualstudio.microsoft.com/">
                Visual Studio
              </a>
            </li>
          </ul>
          <br>
          This game was a recreation of the classic bricks or breakout game. I was given a framework to work with that had a texture renderer provided. 
          I used the texture renderer to render textures for the ball, paddle, bricks and background. I focused on game logic such as deleting the tiles 
          when ball collides with them and ball logic when it collides with bricks, paddle and window width and length. Game also increases difficulty 
          as you progress through levels. My goal for this game was just to create something simple with a framework provided to help improve my abilities 
          in C++ and develop proper practices in coding in C++;
          <br>
          <br>
          <ul class="about-skills">
            <li>
              <a href="https://www.youtube.com/watch?v=MbRRKul_t0s">
                Video
              </a>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-3-semester-1-2.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://en.wikipedia.org/wiki/C%2B%2B">
                C++
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/C%2B%2B">
                OpenGL
              </a>
            </li>
            <li>
              <a href="https://visualstudio.microsoft.com/">
                Visual Studio
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/A*_search_algorithm">
                A* Pathfinding
              </a>
            </li>
          </ul>
          <br>
          This game was a simple tower defense game written in C++, however it is still incomplete. For this project I was given a core framework to work 
          with a texture renderer using OpenGL. I focused on game logic such as implementing path finding between tiles (however it is unused at 
          this time as enemies follow one specific path), turret placement and HUD on the right hand side. Currently the game allows you to add turrets on 
          any tile on the screen, and begin the round with the Start Round button at which time enemies begin to follow designated path. The game does have 
          pathfinding logic as this was what I was originally tasked with when I began the project. The pathfinding uses the A* Algorithm to process each tile 
          and assign it a g and h score. The path with the lowest final score is presumable the shortest possible path to take to the target.
          <br>
          <br>
          <ul class="about-skills">
            <li>
              <a href="https://www.youtube.com/watch?v=AcMbKSJ1USs">
                Video
              </a>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-3-semester-2-2.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://en.wikipedia.org/wiki/C%2B%2B">
                C++
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/C%2B%2B">
                OpenGL
              </a>
            </li>
            <li>
              <a href="https://visualstudio.microsoft.com/">
                Visual Studio
              </a>
            </li>
          </ul>
          <br>
          This was one of the projects I was working on casually through my third year at Algonquin College. This project was built in C++/OpenGL 
          using GLFW and GLEW libraries. I started building this around December of 2012, taking some of the lessons I had learned in Graphics Languages II 
          and making a game out of it. In this class I had learned to build a model loader capable of reading OBJ files and combined this with a custom shader 
          loader to render 3D models on screen. The result is a very simplistic game called rumble ball. The goal is simply to maneuver your car around and 
          knock the ball into the other teams goal much like a soccer game.
          <br>
          <br>
          <ul class="about-skills">
            <li>
              <a href="https://github.com/BruceRick/RumbleBall">
                Source Code
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=OC3JiRYqVMI">
                Video
              </a>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-2-semester-2-2.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://en.wikipedia.org/wiki/ActionScript">
                ActionScript
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Adobe_Animate">
                Adobe Flash
              </a>
            </li>
          </ul>
          <br>
          I wrote this game in ActionScript3 in adobe Flash CS6. I wrote a simplistic physics system that I was really happy with giving the character 
          fluent movements and jumps and falls. Part of the reason I created this was to build a physics system I was happy with as a lot of the flash 
          platformers I played were had very sluggish movements.
          <br>
          <br>
          <ul class="about-skills">
            <li>
              <a href="https://github.com/BruceRick/DystopianNinja">
                Source Code
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=bgHNsBAaycY">
                Video
              </a>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-2-semester-1.jpg">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html#//apple_ref/doc/uid/TP40011210">
                Objective-C
              </a>
            </li>
            <li>
              <a href="https://developer.apple.com/xcode/">
                Xcode
              </a>
            </li>
          </ul>
          <br>
          I made this during second year. I built this in Xcode using C++ and Objective-C. I was given a framework that had a screen management system in 
          place as well as an OpenGL renderer to render images. The screen management system was built in Objective-C and I had to make some tweaks in order to 
          incorporate my splash screens. I then took care of all gameplay logic. I used this project as an introduction to iPhone development and Objective-C.
          <br>
          <br>
          <ul class="about-skills">
            <li>
              <a href="https://www.youtube.com/watch?v=GTd0ponlR3o">
                Video
              </a>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-2-semester-1-2.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/">
                C#
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Microsoft_XNA">
                XNA
              </a>
            </li>
          </ul>
          <br>
          This was a project I built after one year in Game Development with no previous programming experience. It was built in C# using XNA framework. 
          I used this project to learn about events, different design patterns such as a factory pattern and just to continue developing my game programming 
          abilities. The goal of this game was to destroy the incoming enemies and avoid them for as long as possible and achieve the highest score possible.
          <br>
          <br>
          <ul class="about-skills">
            <li>
              <a href="https://www.youtube.com/watch?v=5KBK1Ezknf0">
                Video
              </a>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-2-semester-2.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/">
                C#
              </a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Microsoft_XNA">
                XNA
              </a>
            </li>
          </ul>
          <br>
          This was a group project that was built in C# using the XNA framework. I took a simple concept from a game called bowman, which was a 2D flash game 
          and  recreated it in 3D. Basically when you start the game it randomly generates a terrain and randomly places you and an opponent on the map. 
          You then take turns firing arrows trying to hit your opponents. You can also switch between arrow types also. One type is used to navigate the map, 
          where ever the shot lands is the players new location. I was not responsible for the randomly generated terrain but I took care a lot of gameplay 
          logic as well as some basic shaders that applied a specific texture to a model. This project was also my first attempt at using an entity component 
          system.
          <br>
          <br>
          <ul class="about-skills">
            <li>
              <a href="https://www.youtube.com/watch?v=hoq3AIBkz-Q">
                Video
              </a>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <br>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/year-3-semester-2.png">
        <div class="about-tab-text">
          <ul class="about-skills">
            <li>
              <a href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/">
                C#
              </a>
            </li>
            <li>
              <a href="https://unity.com/">
                Unity
              </a>
            </li>
          </ul>
          <br>
          This was my final year group project built in Unity with C# scripting. This game was a first person shooter that was fully networked, local 
          and over a network. I was responsible for a lot of the gameplay logic behind the mech or player. I took care of things like adding screen shake/weapon 
          recoil, playing animations, HUD display, and spawning NPC enemies. I also learned how to use networking within a multiplayer environment. 
          This included ensuring all player stats were synced as well as player movements and team points.
          <br>
          <br>
          <ul class="about-skills">
            <li>
              <a href="https://www.youtube.com/watch?v=7U4R449eXAo">
                Video
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=9Ovw6jN-eKQ">
                Video
              </a>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <br>
    </mat-expansion-panel>
  </mat-accordion>
</div>