<div class="content">
  <div class="header">
    <div class="header-overlay">
      <div class="header-content center">
        <div class="profile-picture">
          <img src="assets/img/profile-picture.jpg">
        </div>
        <ul class="links">
          <li>
            <a href="https://www.instagram.com/accept_crime_/">
              <img src="assets/img/instagram.png">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/Accept_Crime_">
              <img src="assets/img/twitter.png">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/bruce-rick-90728074/">
              <img src="assets/img/linkedin.png">
            </a>
          </li>
          <li>
            <a href="https://github.com/BruceRick">
              <img src="assets/img/github.png">
            </a>
          </li>
        </ul>
        <br>
        <div class="header-text">
          <div class="header-title">Bruce Rick</div>
          <div class="header-sub-title">Senior Developer</div>
          <br>
          <div>Ottawa, Canada</div>
          <div>Specializes in iOS Development</div>
          <div>Employed at the wonderful <a href="https://lixar.com/">Lixar</a></div>
        </div>
      </div>
    </div>
  </div>
</div>