<div>
  <div class="background">
    <div class="background-overlay">
      <div class="home-content center">
        <div class="profile-picture">
          <img src="assets/img/profile-picture.jpg">
        </div>
        <ul class="links">
          <li>
            <a href="https://www.instagram.com/accept_crime_/">
              <img src="assets/img/instagram.png">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/TotalGarbodor">
              <img src="assets/img/twitter.png">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/bruce-rick-90728074/">
              <img src="assets/img/linkedin.png">
            </a>
          </li>
          <li>
            <a href="https://github.com/BruceRick">
              <img src="assets/img/github.png">
            </a>
          </li>
        </ul>
        <br>
        <div class="home-text">
          <div class="home-title">Bruce Rick</div>
          <div>Ottawa, Canada</div>
          <div>iOS Developer</div>
          <br>
          <div>I like video games, sports and governments that ensure everyone has everything they need.</div>
        </div>
      </div>
    </div>
  </div>
</div>