<div>
  <div class="about-tab"> 
      <img class="about-tab-image" src="assets/img/lixar.jpg">
      <div class="about-tab-text">
      I spent 9 years and majority of my development career working at the wonderful Lixar I.T.
      Over the course of my 9 year career, I had the pleasure of developing iOS apps in the Auto, Flight and Government spaces. 
      <br>
      <br>
      I was able to demonstrate my skills and leadership to progress between a Junior Mobile Developer to Intermediate Mobile Developer to finally a Senior Mobile Developer.
      <br>
      While I primarily focused on iOS development, I had plenty of opportunity to work in web and android spaces as well as backend services.
      <br>
      <br>
      Lixar gave me the opportunity to learn project management through tools such as JIRA, Azure and Amazon Web Services.
      I was also exposed and eventually gained the knowledge to use and maintain CI/CD services such as Bamboo, Teamcity, Azure Pipelines and Amazon Pipelines.
      <br>
      <br>
      Some of the projects I worked on included an iPhone app that communicated wirelessly with an automobile through a piece of hardware inserted in the OBD port, 
      an internal iPad app called Flydesk that provided services for pilots flying for Allegiant Airlines, the Allegiant Airlines iOS consumer app, 
      and a yet to be released iOS app for Government of Canada CBSA employees to inspect and review packages electronically. 
      Please take a look at the 'PROJECTS' tab to take a look at everything I was a part of and the detailed list of technologies used by all of them.
      </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Canadian Tire | Cashier | 2007-2009
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/canadian-tire.jpg">
        <div class="about-tab-text">
          Canadian Tire was my first job. After completing highschool I decided to take some time to figure out what I enjoyed doing and what I wanted
          to study in college. I began working full time as a cashier with basic responsibilities working with the day staff.
          <br>
          <br>
          Working with the day staff was actually quite a good learning experience. I was working with all kinds of people and started to learn a lot about
          the world and it started to help me plan my life going forward. My responsibilites included processing payments and interacting with customers.
          I learned a lot about customer service fairly quickly and how to be responsible when handling impactful responsibilties such as processing customer
          payments and counting your register at the end of your shift.
          <br>
          <br>
          I was also put in a customer service role where I processed customer returns and complaints, while also having various tasks relating to
          day to day operation of the store. These tasks included organizing certain employee shifts and lunch breaks. I also worked in a section of the store 
          that created keys as well as printed pricing labels for the entire store. Printing labels was a good task to work on my organizational skills. 
          Various departments would request labels that would need to be printed before a sale would take effect. I had to print and organize these labels
          so department heads could effectively and quickly get the labels out before a sale began.
          <br>
          <br>
          Eventually I went back to school and moved to the after hours staff which included evenings and weekends. While my responsibilites were the same
          as they had been during the day shift - this move actually had some good lessons as well. Most of the afterhours staff were students such as myself
          which again helped me plan my future out and decide where I wanted my education to go. It was also a good learning experience to learn how to
          manage a team as there were specific tasks that had to be handed off or managed between different teams. 
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Scotiabank | Teller | 2009-2012
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/scotiabank.jpg">
        <div class="about-tab-text">
          I began working at Scotiabank as a full time teller during a summer between my education. I very much enjoyed this job as it came with greater 
          responsibilites as well as the opportunity to work with co-workers in an office business setting. 
          <br>
          <br>
          My responsibilites at Scotiabank included the day to day interactions with Scotiabank customers. Most of my time was spent processing customer
          inquiries or basic banking transactions. I was responsible for taking customer complaints and managing them - when it came to finances it took a 
          whole different understanding to manage upset customers and resolve their issues. The customers and co-workers that I got to interact with here
          also helped me understand people and office dynamics. It continued to help me understand the world and plan my future out and very much helped 
          me get a head start in future jobs in my career.
          <br>
          <br>
          I was also eventually trusted to manage branch deposits and cash on hand shipments which I very much enjoyed. These tasks involved counting 
          large quantities of money with proper oversight and review to catch and ensure there were no mistakes. For these tasks I was trusted with branch
          codes for vaults and safes to open and safekeep these deposits and shipments. This job really helped solidify the need for oversight and review
          skills as any mistakes that were not caught would be very impactful. These skills are still invaluable to me to this day.
          <br>
          <br>
          I returned to school in the fall and moved to the after hours shift which included evenings and weekends. This switch had lessons as during these
          hours the branch was usually without many of the full time employees. I had to learn to be more independant and think on my feat in order to address
          issues that came up that would normally require staff that wasn't currently available. It helped me learn the importance of setting reminders and
          reviewing your shift during closing time to make sure anything that needed to be communicated to the day staff the next morning was processed. 
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          iPlay | Head Camp Counselor | 2012
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/iplay.jpg">
        <div class="about-tab-text">
          The summer before my final year at school I took a job as the Head Camp Counselor at iPlay. This was a summer camp for kids focused on computer
          skills and training. I was responsible for looking after a group of children during the day from drop off to pick up by parents. 
          <br>
          <br>
          This was one of my favourite experiences as it was in a sense my first job in the tech space. It came with a lot of responsibilites as I had to be
          at the camp before parents arrived so children could be dropped off and had to look after children at all times during the day during various tasks.
          What I loved about this experience is that I got the opportunity to be a sort of educator - I had to teach these children very basic computer lessons
          everyday such as primary photoshop skills or even basic programming. I had to manage outdoor activities once a day so that the children got proper exercise.
          Finally I had to organize various activites in a virtual space within games like minecraft to keep children engaged. 
          <br>
          <br>
          During my time at iPlay I also had to learn about disabilites as a few of the children had various disabilites like Autism or learning disabilities. 
          This was a huge learning experience because I had to learn how to educate each child with methods that worked for them and set realalistic goals that
          made sense for each childs circumstances. I had to learn how to manage some of the childrens difficulties and how to deal with them during conflicts
          with other children. When it came to some of the children with Autism I learned how important routine is for them and to be patient with them when
          they were going through a difficult period or something that upset them. This was always knowledge I had to gain by talking and listening to parents
          in order to make sure every day went smoothly.
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lixar I.T. | Junior iOS Developer | 2013-2015
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/lixar-1.jpg">
        <div class="about-tab-text">
          After school I was referred by one of my professors to the wonderful Lixar I.T. where I interviewed and accepted a role of Junior iOS Developer.
          This was a huge step in my career and was an incredible experience to get me introduced to the world of professional programming.
          <br>
          <br>
          One of my first tasks at Lixar was the localization of one of their apps called Delphi Connect. This app communicated with a device installed in your
          car to display info to an app on your phone. The first task I undertook was localizing all text in the app to display in the language selected by the
          user. I went through the app and created tokens to refer to text that had various translation files. It looked something like 
          "welcome.text" = "welcome in various languages". This helped me get a good understanding of the app and features before I began more complicated tasks.
          I became more familiar with the project management software Lixar used called JIRA to track my progress on various tasks. I also became familiar with
          their source control standards on Git, like release, feature, bugfix branches and the process they used for merging and committing changes. 
          <br>
          <br>
          I continued to work with this app but moved towards working on bug fixes and implementing various pages. I wrote both native Objective-C and small 
          bits of HTML and CSS for this app. This was new for me because on this app they used a framework to render HTML and CSS files within native view controllers. I had to learn the relationship between passing data back 
          ad forth between these template files and native files as well as brush up on my HTML and CSS knowledge. I was successfully able to create settings
          pages and various smaller feature pages using these HTML files. I also successfully fixed bugs and was able to tag JIRA tickets with the appropriate
          fix versions and which builds to use.
          <br>
          <br>
          Delphi Connect eventually branched out and wanted to resell this app to various companies. In order to do this I was a part of the theming team that 
          created a code base to properly theme and install the proper resources for the correct builds. I made use of Xcodes schemes to successfully create
          different schemes for different vendors that would style the app differently for each vendor and only include the assets required. This required 
          changes in Objective-C to make the code base more generic and work correctly for each vendor.
          <br>
          <br>
          This was the perfect beginning to my career in tech as it gave me the opportunity to settle in, learn and start in a position I'd never worked in before,
          but also contribute signifantly to a code base and project. I was really happy with my progression and experiences during this time and was very excited 
          when I was promoted to Intermediate Developer.
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lixar I.T. | Intermediate Developer | 2015-2020
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/lixar-2.jpg">
        <div class="about-tab-text">
          After my work on Delphi Connect I was promoted to Intermediate Developer. This came with increased responsibilites like planning, designing and 
          implementing new features on Delphi Connect. I began to take a more hands on role with the interaction with the backend layer and api for the 
          data we displayed on the app.
          <br>
          <br>
          I was a part of the Eco-Drive feature on Delphi Connect as one of my first roles as an Intermediate Developer. I got to work more closely with our
          senior developers. I began to design features at a higher level and would review my designs with the senior resources before beginning development.
          I got the opportunity to review senior developer code as well through code reviews as well as have them more thoroughly review mine. On the Eco-Drive
          feature I learned and managed the REST system this app utilized to download data from the backend service. I used a library called RestKit on iOS to
          make network requests, retrieve data and store it in data objects. This coupled with native Objective-C knowledge helped me create the Eco-Drive feature
          which displayed charts and statistics to the user about their driving behaviours. I had to learn about the use of dependancies through CocoaPods on iOS
          and how to manage them for builds. I learned about the relationship CI/CD tools played in the release cycle and this came with more experience with Git
          and merging and managing code for releases and builds.
          <br>
          <br>
          I eventually moved into the Air space where I worked on various apps for airlines with all kinds of uses. I worked on features that included a 
          timeline feature for the Allegiant Airlines consumer app to see trip details in a timeline view, a login system for the Allegiant Airlines Flydesk app 
          for their pilots to review documents, a credit card purchase system for Allegiant Airlines InFlight app used by flight attendants and many more.
          REST, CoreData and migrations were critical in all of those features and I was responsible for using these to interact with our backend APIs.
          I also became much knowledgable with CI/CD's such as Bamboo and Teamcity and had to use and maintain these piplines to manage tests, 
          releases and submissions to the app store.
          <br>
          <br>
          I joined a team responsible for creating an app called CrewPad that was used by an airline called AirEuropa and their flight attendants. For this
          project we used reactive programming and a library called ReactiveCocoa. This was brand new to me and an entirely new type of programming I had to learn
          but eventually I created and maintained features like a sync to download and upload data when a connection becomes available, a messaging feature that 
          would post and get messages between flight attendants and a feature to download and review an HTML file distributed by the airline with guidlines. 
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lixar I.T. | Senior Developer | 2020-2022
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="about-tab">
        <img class="about-tab-image" src="assets/img/lixar-3.jpg">
        <div class="about-tab-text">
          After demonstrating considerable skills for many projects at Lixar I.T. I was promoted to Senior Developer. This came with more responsibilities
          in the project management area such as communicating and demoing release and features to clients.
          <br>
          <br>
          When another project came to an end I helped one of the teams at Lixar responsible for the Realtor.ca app. This app was written with React Native
          and was my first experience with this technology. It utilized a cross platform CSS and HTML code base to create an app that could be deployed across
          various platforms. For this project I used Microsoft Azure and Devops for project management and CI/CD. I worked on the feature that allowed real estate
          agents to be apart of multiple realtor assoications that provided and showed the appropriate listings.
          <br>
          <br>
          My final years at Lixar I moved to a newly created team that worked to create an app for CBSA, a division of the government of Canada. This project I used
          amazon webservices in coordination with government security departments to create an app called ELVIS. This app was used by agents to inspect packages being
          shipped to Canada and evaluate them. When I started on this project Apple released SwiftUI and Combine and we decided to use these technologies on this
          project. I learned how to use SwiftUI to create very responsive and clean UI architecture in combination with the combine framework. We used an architecture
          called Swift Composable Architecture to maintain and better organize our code. This helped with testing and gave us tools to properly and thoroughly testing
          all features of the app.
          <br>
          <br>
          While on this app I began to branch out and help out the web portion of this project. I used HTML/CSS/Java within the React framework on a user portal 
          version of the app to fix bugs and create features. I created features like the advanced search and reject list pages. I also had to learn some basic 
          Python to create localization scripts that would automatically export and import text for translation purposes.
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>      
</div>