<div>
  <div class="employment-content"> 
      <img class="employment-tab-content-image" src="assets/img/lixar.jpg">
      <div class="employment-tab-content-text">
      I spent 9 years and majority of my development career working at the wonderful Lixar I.T.
      <br>
      Over the course of my 9 year career, I had the pleasure of developing iOS apps in the Auto, Flight and Government spaces. 
      <br>
      <br>
      I was able to demonstrate my skills and leadership to progress between a Junior Mobile Developer to Intermediate Mobile Developer to finally a Senior Mobile Developer.
      <br>
      While I primarily focused on iOS development, I had plenty of opportunity to work in web and android spaces as well as backend services.
      <br>
      <br>
      Lixar gave me the opportunity to learn project management through tools such as JIRA, Azure and Amazon Web Services.
      I was also exposed and eventually gained the knowledge to use and maintain CI/CD services such as Bamboo, Teamcity, Azure Pipelines and Amazon Pipelines.
      <br>
      <br>
      Some of the projects I worked on included an iPhone app that communicated wirelessly with an automobile through a piece of hardware inserted in the OBD port, 
      an internal iPad app called Flydesk that provided services for pilots flying for Allegiant Airlines, the Allegiant Airlines iOS consumer app, 
      and a yet to be released iOS app for Government of Canada CBSA employees to inspect and review packages electronically. 
      Please take a look at the 'PROJECTS' tab to take a look at everything I was a part of and the detailed list of technologies used by all of them.
      </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cashier | Canadian Tire | 2007-2009
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Teller | Scotiabank | 2009-2012
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Junior iOS Developer | Lixar I.T. | 2013-2015
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Intermediate Mobile Developer | Lixar I.T. | 2015-2020
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Senior Mobile Developer | Lixar I.T. | 2020-2022
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>coming soon</p>
    </mat-expansion-panel>
  </mat-accordion>      
</div>