<div>
  <div class="resume-background">
    <div class="background-overlay">
      <div class="about-content">
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
          <mat-tab label="EMPLOYMENT"><app-about-employment></app-about-employment></mat-tab>
          <mat-tab label="PROJECTS"><app-about-projects></app-about-projects></mat-tab>
          <mat-tab label="EDUCATION"><app-about-education></app-about-education></mat-tab>
        </mat-tab-group>             
      </div>     
    </div>
  </div>
</div>